<h3>Toutes les activites :</h3>
<ul>
    <li *ngFor="let activite of activitesInscrit">
        {{activite.name}} ({{activite.inscrit}})
        - <a (click)="inscrire(activite.id)" class="text-danger">Se désinscrire</a>
    </li>
</ul>
<ul>
    <li *ngFor="let activite of activites">
        {{activite.name}} ({{activite.inscrit}})
        - <a (click)="inscrire(activite.id)" class="text-primary">S'inscrire</a>
    </li>
</ul>
