﻿<h1>Bonjour {{currentUser.username}} !</h1>
<p>You're logged in with Angular 6!!</p>

<p>Selectionnez ici vos lieux de villégiature et vos activités nautiques favorites.</p>

<app-activites></app-activites>

<br>
<button [routerLink]="['/login']" class="btn btn-danger">Déconnexion</button>
<br><br>
<button (click)="areYouSure()" class="btn btn-primary">Supprimez votre compte</button>
